<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VaultMetaDataManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="VaultMetaDataManager.Properties.Settings.DVMetaConnectionString_" connectionString="Data Source=(localDB)\DV2016;Initial Catalog=DVMeta_____;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <VaultMetaDataManager.Properties.Settings>
            <setting name="DVMetaConnectionString" serializeAs="String">
                <value>Data Source=(localDB)\DV2016;Initial Catalog=DVMeta;Integrated Security=True</value>
            </setting>
            <setting name="DVMetaDatabaseName" serializeAs="String">
                <value>DVMeta</value>
            </setting>
        </VaultMetaDataManager.Properties.Settings>
    </userSettings>
</configuration>
